pip
wheel
cryptography
setuptools
future
PySimpleGUI
Pillow
pystray
psutil
wget
requests
Flask
python-dotenv
scapy
eventlet
termcolor
pwinput
pyftpdlib
pywin32
cffi
rsa
pyasn1
six
python-socketio