* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #778899;
  font-family: emoji;
}

h1 {
    /* font-size: 20px; */
    margin-top: 1rem;
    font-family: emoji
    color: #FF0000; /* Set the text color */
    font-size: 24px; /* Set the font size */
    /* font-family: Arial, sans-serif; /* Set the font family */
    text-align: center; /* Center align the text */
    text-transform: uppercase; /* Convert the text to uppercase */
    letter-spacing: 2px; /* Add spacing between letters */
    text-shadow: 2px 2px 4px #DCDCDC; /* Add a text shadow */
    background-color: #4CAF50; /* Set the background color */
    padding: 10px; /* Add padding around the text */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #ccc;
    background-color: #DCDCDC;
    transition: height 0.5s ease-in-out;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttons-container button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.buttons-container button:hover {
  background-color: #3e8e41;
}

td:nth-child(5) {
  border-right: 1px solid #ccc;
}

.content table tbody tr:hover {
  background-color: #f2f2f2;
}

.row-data.selected {
  background-color: green;
}

.slider-wrapper {
    position: relative;
    max-width: 60rem;
    max-height: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: fill;
    border: 2px solid black;
}

.slider-vav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.slider-wrapper.minimized .slider {
    display: none;
}

.slider-wrapper.minimized {
    height: 10px;
}

.screenshots-min-button, .max-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.min-button:before {
    content: '-';
}

.max-button:before {
    content: '+';
}


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 15%;
  transform: translate(-50%, -50%);
  background-color: #DCDCDC;
  border: 1px solid black;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25); inset 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.popup-buttons button {
  margin: 0 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 999; /* ensure it's on top of other elements */
}

.overlay.visible {
  display: block;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.05s ease-in-out;
}
.fade-in.visible {
    opacity: 1;
}
