* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #778899;
    font-family: emoji;
}

h1 {
    margin-top: 1rem;
    font-family: emoji;
    color: #333333;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #f2f2f2;
    border: 5px solid #ccc;
    padding: 2px;
}

.container-wrapper {
    display: flex;
    justify-content: center;
}

.container {
    flex: 1;
    max-width: 1200px;
    max-height: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    background-color: #DCDCDC;
    transition: height 0.5s ease-in-out;
    text-align: center;
}

.container-left {
    position: fixed;
    top: 5%;
    left: 1%;
    width: 40%; /* Adjust the width as needed */
    max-width: 300px;
    max-height: 100%;
    background-color: #f2f2f2;
    border: 5px solid #ccc;
}

/* TABLES */
td:nth-child(5) {
    border-right: 1px solid #ccc;
}

.content table tbody tr:hover {
    background-color: #f2f2f2;
}

.row-data.selected {
    background-color: green;
}

/* SCREENSHOT IMAGE SLIDER */
.slider-wrapper {
    position: relative;
    width: 100%;
    position: relative;
    max-width: 60rem;
    max-height: 48rem;
    min-height: 5%;
    margin: 0 auto;
}

.slider-container {
    width: 100%;
    display: flex;
    border-radius: 0.5rem;
    max-height: 100%;
    height: 500px;
    overflow: auto;
    padding: 10px;
}

.slider {
    width: 100%;
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: fill;
    border: 2px solid black;
}

.slider-vav {
    width: 100%;
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.slider-wrapper.minimized .slider {
    display: none;
}

.slider-wrapper.minimized {
    height: 10px;
}

/* INFORMATION */
.information-wrapper {
    position: relative;
    width: 100%;
    position: relative;
    max-width: 60rem;
    max-height: 48rem;
    margin: 0 auto;
}

.information-wrapper.minimized {
    max-height: 15px;
    margin-top: 2rem;
}

.information-container {
    width: 100%;
    display: flex;
    border-radius: 0.5rem;
    max-height: 100%;
    height: 500px;
    overflow: auto;
    padding: 5px;
    }

.information-container.minimized {
    max-height: 15px;
    overflow: hidden;
}

.information-container > * {
    flex: 1 0 100%;
    object-fit: contain;
    border: 2px solid green;
    margin: 1rem auto 0;
}

#information-header {
    margin-top: 1rem;
    font-family: emoji;
    color: #333333;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #f2f2f2;
    padding: 5px;
}

/* DISPLAY POPUP WINDOW */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 15%;
    transform: translate(-50%, -50%);
    background-color: #DCDCDC;
    border: 1px solid black;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25); inset 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.popup-buttons button {
    margin: 0 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 999; /* ensure it's on top of other elements */
}

.overlay.visible {
    display: block;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.05s ease-in-out;
}
.fade-in.visible {
    opacity: 1;
}
