.history-table-wrapper {
    position: relative;
    max-width: 1200px;
    max-height: 300px;
    margin: 0 auto;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    max-height: 100%;
    overflow-y: auto;
}

.history-table tbody tr:hover {
    background-color: initial; /* Set the background color to its initial value */
}

.history-table-container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #ccc;
    background-color: #DCDCDC;
    max-height: 300px;
    overflow-y: auto;
}



.history-table-container.minimized .table {
    display: none;
}

.history-table-table-container.minimized {
    height: 10px;
}

.history-table-container.minimized .history-table-minimize-button:before {
    content: '+';
}

.server-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    max-height: 100%;
    overflow-y: auto;
}

.server-table tbody tr:hover {
    background-color: initial; /* Set the background color to its initial value */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    max-height: 100%;
    overflow-y: auto;
}

th {
    background-color: #f2f2f2;
}

th,
td {
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
}

table tr:hover {
  background-color: #EBEBEB; /* Set the background color on hover */
}
