<!DOCTYPE html>
<html>
<head>
	<title>My Flask App</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>HandsOff 1.00</h1>
			<table>
				<thead>
					<tr>
						<th>serving_on</th>
						<th>server_ip</th>
						<th>server_port</th>
						<th>boot_time</th>
						<th>connected_stations</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ serving_on }}</td>
						<td>{{ server_ip }}</td>
						<td>{{ server_port }}</td>
						<td>{{ boot_time }}</td>
						<td>{{ connected_stations }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="content">
			<h1>Connected Stations</h1>
			<table>
				<thead>
					<tr>
						<th>Client ID</th>
						<th>IP Address</th>
						<th>Hostname</th>
						<th>Logged User</th>
						<th>Boot Time</th>
						<th>Connection Time</th>
					</tr>
				</thead>
				<tbody>
					{% for endpoint in endpoints %}
					<tr class="row-data" data-id="{{ endpoint.id }}" data-ip="{{ endpoint.ip_address }}" data-hostname="{{ endpoint.hostname }}" data-user="{{ endpoint.logged_user }}" data-boot="{{ endpoint.boot_time }}" data-connection="{{ endpoint.connection_time }}">
						<td>{{ endpoint.id }}</td>
						<td>{{ endpoint.ip_address }}</td>
						<td>{{ endpoint.hostname }}</td>
						<td>{{ endpoint.logged_user }}</td>
						<td>{{ endpoint.boot_time }}</td>
						<td>{{ endpoint.connection_time }}</td>

					</tr>
					 {% endfor %}
					 {% if not endpoints %}
					<tr>
						<td colspan="6">No endpoints found.</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>

		<div class="footer">
			<div class="buttons-container">
				<button>Refresh</button>
				<button>Screenshot</button>
				<button>Anydesk</button>
				<button>SysInfo</button>
				<button>Tasks</button>
				<button>Restart</button>
				<button>Local Files</button>
				<button>Update</button>
			</div>
		</div>

		<div class="footer">
			<div class="box">
				<h1>Details</h1>
				<img src="/static/images/handsoff.png" alt="HO">
    		</div>
		</div>

		<div class="content">
			<h1>Connection History</h1>
			<table>
				<thead>
					<tr>
						<th>Client ID</th>
						<th>IP Address</th>
						<th>Hostname</th>
						<th>Logged User</th>
						<th>Boot Time</th>
						<th>Connection Time</th>
					</tr>
				</thead>
				<tbody>
					{% for endpoint in endpoints %}
					<tr>
						<td>{{ endpoint.id }}</td>
						<td>{{ endpoint.ip_address }}</td>
						<td>{{ endpoint.hostname }}</td>
						<td>{{ endpoint.logged_user }}</td>
						<td>{{ endpoint.boot_time }}</td>
						<td>{{ endpoint.connection_time }}</td>

					</tr>
					 {% endfor %}
					 {% if not endpoints %}
					<tr>
						<td colspan="6">No endpoints found.</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>

<script>
	const rows = document.querySelectorAll(".row-data");
	rows.forEach((row) => {
    	row.addEventListener("click", () => {
        rows.forEach((row) => {
            row.classList.remove("selected");
        });
        row.classList.add("selected");

        const selectedRowData = {
        	id: row.cells[0].innerText,
            ip_address: row.cells[1].innerText,
            hostname: row.cells[2].innerText,
            logged_user: row.cells[3].innerText,
            boot_time: row.cells[4].innerText,
            connection_time: row.cells[5].innerText
        };

        // Send the selected row data to the Flask backend
        fetch('/shell_data', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(selectedRowData)
        })
        .then(response => response.json())
        .then(data => {
            console.log('Received response from Flask backend:', data);
        })
        .catch(error => {
            console.error('Error while sending selected row data to Flask backend:', error);
        });
    });
});
</script>

</body>
</html>
