<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>HandsOff</title>
	<meta name="author" content="Gil Shwartz">
	<meta charset="UTF-8">
	<meta name="description" content="A C&C for IT Admins">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{{ url_for('static', filename='table_data.js') }}" defer></script>
	<script src="{{ url_for('static', filename='minimizer.js') }}" defer></script>
</head>
<body>
	<div class="grid">
		<div class="TopNav">
			<div class="top-nav-logo">
				<img src="static/images/handsoff-low-resolution-logo-color-on-transparent-background.png">
			</div>
		</div>

		<div class="ServerInfo">
			<div class="middle-container">
				<div class="server-table-wrapper">
					<h1 id="server-info">Server Information</h1>
				</div>
				<div class="server-table">
					<table>
						<thead>
							<tr>
								<th>serving on</th>
								<th>boot time</th>
								<th>server version</th>
								<th>connected stations</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ serving_on }}</td>
								<td>{{ boot_time }}</td>
								<td>{{ server_version }}</td>
								<td>{{ connected_stations }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="ConnectedStations">
			<div class="middle-container">
				<div class="table-connected">
				<h1 >Connected Stations</h1>
				<table>
					<thead>
						<tr>
							<th>Client MAC</th>
							<th>IP Address</th>
							<th>Hostname</th>
							<th>Logged User</th>
							<th>Boot Time</th>
							<th>Client Version</th>
						</tr>
					</thead>
					<tbody>
						{% for endpoint in endpoints %}
						<tr class="table-connected-row-data" data-id="{{ endpoint.client_mac }}" data-ip="{{ endpoint.ip }}" data-hostname="{{ endpoint.ident }}" data-user="{{ endpoint.user }}" data-boot="{{ endpoint.boot_time }}" data-connection="{{ endpoint.connection_time }}">
							<td>{{ endpoint.client_mac }}</td>
							<td>{{ endpoint.ip }}</td>
							<td>{{ endpoint.ident }}</td>
							<td>{{ endpoint.user }}</td>
							<td>{{ endpoint.boot_time }}</td>
							<td>{{ endpoint.client_version }}</td>
						</tr>
						 {% endfor %}
						 {% if not endpoints %}
						<tr>
							<td colspan="6">No endpoints found.</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
			</div>
		</div>

		<div class="Controller">
			<div class="middle-container">
				<div class="controller-buttons-container">
				<button class="button" data-action="screenshot">Screenshot</button>
				<button class="button" data-action="anydesk">Anydesk</button>
				<button class="button" data-action="sysinfo">Sysinfo</button>
				<button class="button" data-action="tasks">Tasks</button>
				<button id="restart" class="button" data-action="restart">Restart</button>
				<button class="button" data-action="local">Local Files</button>
				<button id="update" class="button" data-action="update">Update</button>
				<script src="{{ url_for('static', filename='controller.js') }}" defer></script>
			  </div>
			</div>
		</div>

		<div class="Extenders">
			<div class="extenders-header">
				<h1 id="screenshots-header">Screenshots</h1>
				<h1 id="information-header">Information</h1>
				<h1 id="tasks-header">Tasks</h1>
			</div>
		</div>

		<div class="Display">
			<div class="Screenshots">
				<div class="screenshots-slider-wrapper">
					<div class="screenshots-slider">
						<div class="screenshots-slider-nav"></div>
					</div>
				</div>
			</div>

			<div class="Information">
				<div class="information-wrapper">
					<div class="information-container"></div>
				</div>
			</div>

			<div class="Tasks">
				<div class="tasks-wrapper">
					<div class="tasks-container"></div>
				</div>
			</div>
		</div>

		<div class="ConnectionHistory">
			<div class="table-history-wrapper">
			<h1>Connection History</h1>
			<div class="table-history">
			  <table>
				<thead>
				  <tr>
					<th>Client MAC</th>
					<th>IP Address</th>
					<th>Hostname</th>
					<th>Logged User</th>
					<th>Boot Time</th>
					<th>Connection Time</th>
				  </tr>
				</thead>
				<tbody>
				  {% for endpoint, time in history.items() %}
				  <tr>
					<td>{{ endpoint.client_mac }}</td>
					<td>{{ endpoint.ip }}</td>
					<td>{{ endpoint.ident }}</td>
					<td>{{ endpoint.user }}</td>
					<td>{{ endpoint.boot_time }}</td>
					<td>{{ endpoint.connection_time }}</td>
				  </tr>
				   {% endfor %}
				   {% if not history %}
				  <tr>
					<td colspan="6">No endpoints found.</td>
				  </tr>
				  {% endif %}
				</tbody>
			  </table>
			</div>
		  </div>
		</div>

		<div class="Footer">
			<div class="footer-logo">
				<img src="static/images/handsoff-low-resolution-logo-color-on-transparent-background.png">
			</div>
		</div>

    </div>

</body>
</html>