<!DOCTYPE html>
<html>
<head>
	<title>HandsOff</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>HandsOff 1.00</h1>
			<table>
				<thead>
					<tr>
						<th>serving_on</th>
						<th>server_ip</th>
						<th>server_port</th>
						<th>boot_time</th>
						<th>connected_stations</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ serving_on }}</td>
						<td>{{ server_ip }}</td>
						<td>{{ server_port }}</td>
						<td>{{ boot_time }}</td>
						<td>{{ connected_stations }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="content">
			<h1>Connected Stations</h1>
			<table>
				<thead>
					<tr>
						<th>Client ID</th>
						<th>IP Address</th>
						<th>Hostname</th>
						<th>Logged User</th>
						<th>Boot Time</th>
						<th>Connection Time</th>
					</tr>
				</thead>
				<tbody>
					{% for endpoint in endpoints %}
					<tr class="row-data" data-id="{{ endpoint.id }}" data-ip="{{ endpoint.ip_address }}" data-hostname="{{ endpoint.hostname }}" data-user="{{ endpoint.logged_user }}" data-boot="{{ endpoint.boot_time }}" data-connection="{{ endpoint.connection_time }}">
						<td>{{ endpoint.id }}</td>
						<td>{{ endpoint.ip_address }}</td>
						<td>{{ endpoint.hostname }}</td>
						<td>{{ endpoint.logged_user }}</td>
						<td>{{ endpoint.boot_time }}</td>
						<td>{{ endpoint.connection_time }}</td>

					</tr>
					 {% endfor %}
					 {% if not endpoints %}
					<tr>
						<td colspan="6">No endpoints found.</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>

		<div class="footer">
			<div class="buttons-container">
				<button id="screenshot-btn">Screenshot</button>
				<script>
					const scButton = document.querySelector('#screenshot-btn');
					scButton.addEventListener('click', () => {
						const data = 'screenshot';
						const xhr = new XMLHttpRequest();
						xhr.open('POST', '/controller');
						xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
						xhr.send(JSON.stringify({ data: data }));
					});
				</script>

				<button id="anydesk-btn">Anydesk</button>
				<script>
					const anyButton = document.querySelector('#anydesk-btn');
					anyButton.addEventListener('click', () => {
						const data = 'anydesk';
						const xhr = new XMLHttpRequest();
						xhr.open('POST', '/controller');
						xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
						xhr.send(JSON.stringify({ data: data }));
					});
				</script>

				<button id="sysinfo-btn">Sysinfo</button>
				<script>
					const sysButton = document.querySelector('#sysinfo-btn');
					sysButton.addEventListener('click', () => {
						const data = 'sysinfo';
						const xhr = new XMLHttpRequest();
						xhr.open('POST', '/controller');
						xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
						xhr.send(JSON.stringify({ data: data }));
					});
				</script>

				<button id="tasks-btn">Tasks</button>
				<script>
					const tasksButton = document.querySelector('#tasks-btn');
					tasksButton.addEventListener('click', () => {
						const data = 'tasks';
						const xhr = new XMLHttpRequest();
						xhr.open('POST', '/controller');
						xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
						xhr.send(JSON.stringify({ data: data }));
					});
				</script>

				<button id="restart-btn">Restart</button>
				<script>
					const restartButton = document.querySelector('#restart-btn');
					restartButton.addEventListener('click', () => {
						const data = 'restart';
						const xhr = new XMLHttpRequest();
						xhr.open('POST', '/controller');
						xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
						xhr.send(JSON.stringify({ data: data }));
					});
				</script>

				<button id="local_files-btn">Local Files</button>
				<script>
					const localButton = document.querySelector('#local_files-btn');
					localButton.addEventListener('click', () => {
						const data = 'local';
						const xhr = new XMLHttpRequest();
						xhr.open('POST', '/controller');
						xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
						xhr.send(JSON.stringify({ data: data }));
					});
				</script>

				<button id="update-btn">Update</button>
				<script>
					const updateButton = document.querySelector('#update-btn');
					updateButton.addEventListener('click', () => {
						const data = 'update';
						const xhr = new XMLHttpRequest();
						xhr.open('POST', '/controller');
						xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
						xhr.send(JSON.stringify({ data: data }));
					});
				</script>
			</div>
		</div>

		<div class="footer">
			<div class="box">
				<h1>Details</h1>
				<img src="/static/images/handsoff.png" alt="HO">
    		</div>
		</div>

		<div class="content">
			<h1>Connection History</h1>
			<table>
				<thead>
					<tr>
						<th>Client ID</th>
						<th>IP Address</th>
						<th>Hostname</th>
						<th>Logged User</th>
						<th>Boot Time</th>
						<th>Connection Time</th>
					</tr>
				</thead>
				<tbody>
					{% for endpoint in endpoints %}
					<tr>
						<td>{{ endpoint.id }}</td>
						<td>{{ endpoint.ip_address }}</td>
						<td>{{ endpoint.hostname }}</td>
						<td>{{ endpoint.logged_user }}</td>
						<td>{{ endpoint.boot_time }}</td>
						<td>{{ endpoint.connection_time }}</td>

					</tr>
					 {% endfor %}
					 {% if not endpoints %}
					<tr>
						<td colspan="6">No endpoints found.</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>

<script src="{{ url_for('static', filename='row_data.js') }}"></script>

</body>
</html>
